td {
border: 1px outset black;
border-collapse: collapse;
}

tr {
text-align:center;
}

.tab {
background-color: rgb(204, 204, 204)
}

.STRs {
vertical-align:top;
background-color: rgb(204, 255, 204)
}

.STR {
writing-mode: tb-rl;
vertical-align:top;
background-color: rgb(204, 255, 204)
}

.SNPs {
background-color: rgb(204, 204, 255)
}

.pers {
background-color: rgb(255, 255, 204);

}
